/***********************Css For the Plun************************
@Styles
***************************************************************/
.twitter-message{ color:red;}

.fb-like span {height:25px !important; }

.twitter-message.blue{ color:blue;}

.leftalign iframe {width: 90px !important;}

.linkdin-share {float:left; width:103px;}

.facebook-share{float:left; width:90px;}

.twitter-message.red{ color:red;}

.leftalign{ float: left;}